<div class="container">
    <div class="row d-flex align-items-center ml-1">
        <h2>Bienvenido</h2>
        <!-- METER LOGO -->
    </div>
    <form class="mt-3" novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div>
                <div class="form-group col-4">
                    <label>Correo electrónico</label>
                    <input type="string" class="form-control" formControlName="email" placeholder="Introduce tu correo">
                    <p class=error *ngIf="formLogin.controls.email.errors?.required && formLogin.controls.email.touched">El campo email es requerido</p>
                </div>
                <div class="form-group col-4">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Introduce tu contraseña">
                    <p class=error *ngIf="formLogin.controls.email.errors?.required && formLogin.controls.email.touched">El campo contraseña es requerido</p>
                </div>
            </div>
            <input type="hidden" formControlName="id_user">
            <input class="btn botonZero col-4" type="submit" [disabled]="!formLogin.valid">
            <div>
                <p class="card-link" [routerLink]="['/registro']">¿Aún no te has registrado? Haz click aquí</p>
            </div>
    </form>
</div>





