<h3>¡En un minuto estará todo listo!</h3>
<form class="mt-3" novalidate [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-6">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Escribe tu nombre...">
                <p class=error *ngIf="formRegister.controls.name.errors?.required && formRegister.controls.name.touched">El campo nombre es requerido</p>
            </div>
            <div class="form-group col-6">
                <label>Apellidos</label>
                <input type="text" class="form-control" formControlName="surname" placeholder="Escribe tus apellidos...">
                <p class=error *ngIf="formRegister.controls.surname.errors?.required && formRegister.controls.surname.touched">El campo apellidos es requerido</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3">
                <label>Dirección</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Calle/Portal...">
                <p class=error *ngIf="formRegister.controls.address.errors?.required && formRegister.controls.address.touched">El campo dirección es requerido</p>
            </div>
            <div class="form-group col-3">
                <label>Código postal</label>
                <input type="number" class="form-control" formControlName="pc" placeholder="Escribe tu código postal...">
                <p class=error *ngIf="formRegister.controls.pc.errors?.required && formRegister.controls.pc.touched">El campo C.P. es requerido</p>
            </div>
            <div class="form-group col-3">
                <label>Localidad</label>
                <input type="text" class="form-control" formControlName="localidad" placeholder="Escribe tu localidad">
                <p class=error *ngIf="formRegister.controls.localidad.errors?.required && formRegister.controls.localidad.touched">El campo C.P. es requerido</p>
            </div>
            <div class="form-group col-3">
                <label>Provincia</label>
                <input type="text" class="form-control" formControlName="province" placeholder="Escribe tu provincia">
                <p class=error *ngIf="formRegister.controls.province.errors?.required && formRegister.controls.province.touched">El campo C.P. es requerido</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label>Teléfono</label>
                <input type="number" class="form-control" formControlName="phone_number" placeholder="Escribe tu número de teléfono">
                <p class=error *ngIf="formRegister.controls.phone_number.errors?.required && formRegister.controls.phone_number.touched">El campo teléfono es requerido</p>
            </div>
            <div class="form-group col-6">
                <label>Correo electrónico</label>
                <input type="string" class="form-control" formControlName="email" placeholder="Escribe tu número de teléfono">
                <p class=error *ngIf="formRegister.controls.email.errors?.required && formRegister.controls.email.touched">El campo email es requerido</p>
            </div>
        </div>
        <div class="form-group">
            <label>¿Estás disponible por WhatsApp?</label>
            <input type="checkbox" formControlName="whatsapp">
        </div>
        <input class="btn btn-block btn-info mt2" type="submit" [disabled]="!formRegister.valid">
    </form>