<app-nav></app-nav>
<div class="container">
    <div class="row d-flex align-items-center ml-1">
        <svg class="bi bi-arrow-up-circle" viewBox="0 0 16 16" fill="currentColor">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4.646 8.354a.5.5 0 0 0 .708 0L8 5.707l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z"/>
            <path fill-rule="evenodd" d="M8 11.5a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5z"/>
          </svg>
        <h3 class="col-8">Rellena el formulario y...¡vende tu producto!</h3>
    </div>
    <form class="mt-3" novalidate [formGroup]="formProduct" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-8">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Escribe un nombre para tu producto...">
                <p class=error *ngIf="formProduct.controls.name.errors?.required && formProduct.controls.name.touched">El campo nombre es requerido</p>
            </div>
            <div class="form-group col-4">
                <label>Precio</label>
                <input type="number" class="form-control" formControlName="precio" placeholder="¿Por cuánto lo quieres vender?">
                <p class=error *ngIf="formProduct.controls.precio.errors?.required && formProduct.controls.precio.touched">El campo precio requerido</p>
            </div>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea class="form-control" cols="10" rows="5" formControlName="description" placeholder="Añade una descripción..."></textarea>
            <p class=error *ngIf="formProduct.controls.description.errors?.required && formProduct.controls.description.touched">El campo descripción es requerido</p>
        </div>
        <label>Sube algunas fotos molonas</label>
        <!-- Events upload images -->
        <div class="form-group">
            <input type="file" accept="image/png, .jpeg, .jpg, image/gif" formControlName="pic_1" (change)="onFileChange($event)">  
            <input type="file" accept="image/png, .jpeg, .jpg, image/gif" formControlName="pic_2" (change)="onFileChange($event)">
            <input type="file" accept="image/png, .jpeg, .jpg, image/gif" formControlName="pic_3"(change)="onFileChange($event)">
        </div>
        <div class="form-group">
            <label>Selecciona una categoría</label>
            <select class="custom-select" formControlName="category_idCategory">
                <option [value]="item?.idCategory" *ngFor="let item of arrCategories">{{item?.Nombre}}</option>
            </select>
            <p class=error *ngIf="formProduct.controls.category_idCategory.errors?.required && formProduct.controls.category_idCategory.touched">No olvides seleccionar una categoría</p>
        </div>
        <div class="custom-control custom-checkbox col-6">
            <input type="checkbox" class="custom-control-input" id="customCheck2" formControlName="post_delivery">
            <label class="custom-control-label" for="customCheck2">¿Haces entregas por correo?</label>
        </div>
        <div class="custom-control custom-checkbox col-6">
            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="hand_delivery">
            <label class="custom-control-label" for="customCheck1">¿Entregas el producto en persona?</label>
        </div>
        <input type="hidden" formControlName="users_id_user">
        <input class="btn botonZero col-12 mt-4" type="submit" [disabled]="!formProduct.valid">
    </form>
</div>