<app-nav></app-nav>
<h3>Mapa de puntos limpios</h3>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="05">
    <agm-marker *ngFor="let coord of arrCoords" [latitude]="coord.latitude" [longitude]="coord.longitude"> 
        <agm-info-window>
            <p>{{coord.title}}</p>
            <p>CIF: {{coord.cif}}</p>
            <p>Dirección: {{coord.address}}</p>
            <p>Localidad: {{coord.locality}}, {{coord.province}}</p>
            <p>C.P {{coord.cp}}</p>
            <p>Notas: {{coord.others}}</p>
        </agm-info-window>
    </agm-marker>
</agm-map>
