<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <!-- INSERT LOGO -->
        <img src="./assets/logo.png" alt="logo" class="logo" />
      </div>
      <div class="login-wrapper my-auto">
        <h1 class="login-title">Bienvenido a Zero e-Waste</h1>
        <form
          class="mt-20"
          novalidate
          [formGroup]="formLogin"
          (ngSubmit)="onSubmit()"
        >
          <div class="fields">
            <div class="form-group">
              <label>Correo electrónico</label>
              <input
                type="string"
                class="form-control"
                formControlName="email"
                placeholder="Introduce tu correo"
              />
              <p
                class="error"
                *ngIf="
                  formLogin.controls.email.errors?.required &&
                  formLogin.controls.email.touched
                "
              >
                El campo email es requerido
              </p>
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Introduce tu contraseña"
              />
              <p
                class="error"
                *ngIf="
                  formLogin.controls.email.errors?.required &&
                  formLogin.controls.email.touched
                "
              >
                El campo contraseña es requerido
              </p>
            </div>
          </div>
          <input
            class="btn botonZero col-6 mb-2"
            type="submit"
            [disabled]="!formLogin.valid"
          />
          <div>
            <p class="card-link" [routerLink]="['/registro']">
              ¿Aún no te has registrado? Haz click aquí
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="./assets/zeroewaste.jpg" class="login-img" />
    </div>
  </div>
</div>
