<app-nav></app-nav>
<div class="container">
    <div class="row d-flex align-items-center ml-1">
        <svg class="bi bi-person-fill" viewBox="0 0 16 16" fill="currentColor">
        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <h3 class="col-6">Edita tu perfil</h3>
    </div>
    <!-- Form edit profile -->
    <form class="mt-3"  [formGroup]="formEdit" (click)="onSubmit()" *ngIf="formEdit">
        <div class="row">
            <div class="form-group col-6">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="Name" >
            </div>
            <div class="form-group col-6">
                <label>Apellidos</label>
                <input type="text" class="form-control" formControlName="Surname">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3">
                <label>Dirección</label>
                <input type="text" class="form-control" formControlName="Address" >
            </div>
            <div class="form-group col-3">
                <label>Código postal</label>
                <input type="number" class="form-control" formControlName="PC">
            </div>
            <div class="form-group col-3">
                <label>Localidad</label>
                <input type="text" class="form-control" formControlName="Localidad">
            </div>
            <div class="form-group col-3">
                <label>Provincia</label>
                <input type="text" class="form-control" formControlName="Province">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label>Teléfono</label>
                <input type="number" class="form-control" formControlName="Phone_number">
            </div>
            <div class="form-group col-4">
                <label>Correo electrónico</label>
                <input type="string" class="form-control" formControlName="Email" >
            </div>
        </div>
        <div class="custom-control custom-checkbox col-6">
            <input type="checkbox" class="custom-control-input" id="customCheck4" formControlName="Whatsapp">
            <label class="custom-control-label" for="customCheck4">¿Estás disponible por WhatsApp?</label>
        </div>
        <input class="btn botonZero col-3 mt-4" type="submit">
    </form>
    <h3 class="mt-4">Mis productos en venta</h3>
    <!-- Insert *ngFor: items per each user -->
</div>


