<div class="row">
    <!-- Añadir: *ngFor="let item of arrItems" -->
    <div class="card col-3 mt-3" style="width: 18rem" onClick="click">
        <img class="card-img-top" src="https://cdn.pocket-lint.com/r/s/970x/assets/images/152137-laptops-review-apple-macbook-pro-2020-review-image1-pbzm4ejvvs-jpg.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MacBook Pro</h5>
            <!-- {{newItem.name}} -->
          <p class="card-text">Macbook nuevecito, tiene 13" y funciona chachi</p>
            <!-- {{newItem.description}} -->
          <p class="card-text">1.250€</p>
            <!-- {{newItem.precio}} -->
        </div>
        <div class="card-body"> 
            <!-- Hacer la card clickable para que redirija al detalle del producto -->
          <a href="#" class="card-link">Ver detalles</a>
        </div>
    </div>
</div>