div .categories {
    text-align: center;
}

div .category, .item{
    cursor: pointer;
}

input .filter {
    border-color: #0E402D;
}

div .category:hover {
    opacity: 0.7;
}

.filters {
    width: 100%;
    padding: 10px 0 10px 0;
    border-top: 1px solid #0E402D;
    border-bottom: 1px solid #0E402D;
}

.card-link {
    color: #0E402D;
}

.card-link:hover {
    opacity: 0.7
}

div h3 {
    text-align: center;
}

