<app-nav></app-nav>
<h3 class="mb-3 d-flex justify-content-center">¿Qué quieres comprar hoy?</h3>
<h5 class="mb-3 d-flex justify-content-center">
  Selecciona una categoría y ordena según tus preferencias
</h5>
<div class="container mb-4 d-flex justify-content-center">
  <select class="custom-select col-8" (click)="onClickCategory($event)">
    <option value="1">Televisión, audio y foto</option>
    <option value="2">Móviles y telefonía</option>
    <option value="3">Informática y electrónica</option>
    <option value="4">Consolas y videojuegos</option>
    <option value="5">Electrodomésticos</option>
  </select>
</div>
<div class="filters d-flex justify-content-around mt-3 mb-3">
  <div>
    <button type="button" class="btn botonZero" (click)="onClickPriceAsc()">
      Precio (de mayor a menor)
    </button>
  </div>
  <div>
    <button type="button" class="btn botonZero" (click)="onClickPriceDesc()">
      Precio (de menor a menor)
    </button>
  </div>
  <div>
    <button type="button" class="btn botonZero" (click)="onClickDate()">
      Fecha de subida (más recientes)
    </button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div
      class="card col-3 mt-2 item"
      [routerLink]="['/compra', item.idItem]"
      *ngFor="let item of arrItems"
    >
      <img
        class="card-img-top"
        [src]="'http://localhost:3000/media/' + item.Pic_1"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.Name }}</h5>
        <p class="card-text">Precio: {{ item.Precio }} €</p>
        <p class="card-text">Fecha de registro: {{ item.Register_date }}</p>
        <a class="card-link">Ver detalles</a>
      </div>
    </div>
  </div>
</div>
