h1,
h2,
h3,
h4 {
  color: #0e402d;
}

.botonZero {
  background-color: #0e402d;
  border-color: white;
  color: white;
  border-radius: 5px;
}

.botonZero:hover {
  background-color: white;
  color: #0e402d;
  border-color: #0e402d;
  cursor: pointer;
}

.botonDelete {
  background-color: #f49f0a;
  border-color: white;
  color: white;
  border-radius: 5px;
}

.botonDelete:hover {
  background-color: white;
  color: #f49f0a;
  border-color: #f49f0a;
  cursor: pointer;
}

.botonGreen {
  background-color: #81c14b;
  border-color: white;
  color: white;
  border-radius: 5px;
}

.botonGreen:hover {
  background-color: white;
  color: #81c14b;
  border-color: #81c14b;
  cursor: pointer;
}

.error {
  color: #e55934;
}

svg {
  color: #0e402d;
  height: 3rem;
  width: 3rem;
}
