<app-nav></app-nav>
<header>
  <div
    class="container-fluid d-flex align-items-center justify-content-center h-100"
  >
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-12">
        <h1 class="display-4 font-weight-bold pt-5 mb-2">
          Bienvenido a Zero e-Waste
        </h1>
        <hr class="hr-light" />
      </div>
    </div>
  </div>
</header>
<main class="mt-3">
  <div class="container">
    <section class="text-center">
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-9">
          <p class="grey-text mb-5">
            ¿Sabías que la basura electrónica alcanzará los 120 millones de
            toneladas en 2050? En nuestra comunidad podrás comprar y vender toda
            clase de aparatos electrónicos, dándole una segunda vida a aquello
            que ya no usas y fomentando un consumo más responsable.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5">
          <svg viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
            />
          </svg>
          <h4 class="my-4 font-weight-bold">Compra</h4>
          <p class="grey-text">
            Adquiere los productos de otros usuarios y forma parte de un
            movimiento más sostenible y responsable.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-1">
          <svg viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"
            />
          </svg>
          <h4 class="my-4 font-weight-bold">Vende</h4>
          <p class="grey-text">
            Sube los dispositivos o aparatos electrónicos que ya no utilices y
            haz a alguien feliz con la compra.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-1">
          <svg viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
          <h4 class="my-4 font-weight-bold">Recicla</h4>
          <p class="grey-text">
            Encuentra el punto limpio más cercano a tu domicilio y contribuye a
            que los residuos puedan ser tratados correctamente.
          </p>
        </div>
        <!--Grid column-->
      </div>
    </section>

    <hr class="my-5" />
    <section class="compra">
      <h2 class="mb-5 font-weight-bold text-center">
        ¿Cómo comprar en Zero e-Waste?
      </h2>
      <div class="row">
        <div class="col-md-6 mb-4">
          <img src="./assets/comprar.jpg" alt="comprar" />
        </div>
        <div class="col-md-6">
          <h4 class="mb-3"><strong>Paso 1</strong></h4>
          <p>
            Selecciona una categoría de producto y filtra según tus preferencias
            de compra (precio, fecha de subida...)
          </p>
          <h4 class="mb-3"><strong>Paso 2</strong></h4>
          <p>
            En el detalle de cada producto encontrarás un mapa que te indicará
            la ubicación aproximada del vendedor, fomentando el consumo de
            proximidad.
          </p>
          <h4 class="mb-3"><strong>Paso 3</strong></h4>
          <p>
            Ponte en contacto con el vendedor por correo electrónico, teléfono o
            WhatsApp, cierra las condiciones de la entrega...¡y listo!
          </p>
        </div>
      </div>
    </section>
    <hr class="my-5" />
    <section class="venta">
      <h2 class="mb-5 font-weight-bold text-center">
        ¿Cómo vender en Zero e-Waste?
      </h2>
      <div class="row">
        <div class="col-md-6">
          <h4 class="mb-3"><strong>Paso 1</strong></h4>
          <p>
            Escoge un nombre para tu producto y añade una breve descripción:
            características, funcionalidad, estado actual...todo suma.
          </p>
          <h4 class="mb-3"><strong>Paso 2</strong></h4>
          <p>
            Sube unas cuantas fotos molonas, escoge la categoría a la que
            pertenece y ponle un precio justo.
          </p>
          <h4 class="mb-3"><strong>Paso 3</strong></h4>
          <p>
            ¡Genial! Tu producto ya está en venta. En "Mis productos" podrás
            editar sus detalles siempre que quieras, o borrarlo una vez vendido.
          </p>
        </div>
        <div class="col-md-6 mb-4">
          <img src="./assets/vender.jpg" alt="vender" />
        </div>
      </div>
    </section>
    <hr class="my-5" />
  </div>
</main>
<app-footer></app-footer>
