/* .category {
  margin: 0 20px 0 20px;
}

.subtitle {
  margin-top: 20px;
}

.index {
  font-size: 18px;
  font-weight: bold;
  color: #0e402d;
}

section {
  margin-bottom: 2rem;
}

.steps {
  padding-left: 5px;
}
 */

h1 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

img {
  width: 100%;
}
