<div>
    <h1>Registro</h1>
    <form action="" [formGroup]="formRegister"> <!-- Meter validadores al final -->
        <div class="form-group">
            <label for=""> Nickname</label>
            <imput type="text" class="form-control" name="nickname" formControlName="nickname"></imput>
        </div>
        <div class="form-group">
            <label for="">Contraseña</label>
            <imput type="password" class="form-control" name="password" formControlName="password"></imput>
        </div>
        <div class="form-group">
            <label for="">Correo Electrónico</label>
            <imput type="text" class="form-control" name="email" formControlName="email"></imput>
        </div>
        <div class="form-group">
            <label for="">Nombre</label>
            <imput type="text" class="form-control" name="name" formControlName="name"></imput>
        </div>
        <div class="form-group">
            <label for="">Apellidos</label>
            <imput type="text" class="form-control" name="surname" formControlName="surname"></imput>
        </div>
        <button class="btn btn-block btn-info" click()="onClick()" [disabled]="!formRegister.valid">Enviar</button> <!-- TERMINAR cuando sepamos almacenar datos -->
    </form>
</div>
